* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
    line-height: 1.6;
}

nav {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    display: inline-block;
}

nav a:hover {
    text-decoration: underline;
    color: #ffd700;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

p {
    text-align: center;
    margin-bottom: 10px;
}

img {
    margin-left: 40%;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}
.container {
    max-width: 800px;
    margin: 0 40%;
    /* padding: 20px; */
    /* background-color: white; */
    border-radius: 8px;
}
form {
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Submit Button */
input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}
form + h1 {
    align-items: center;
    text-align: center;
    margin-top: 40px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 10px;
    margin-top: 40px;
    border-radius: 8px;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }

    body {
        padding: 10px;
    }

    form {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }
    footer {
        font-size: 0.8rem;
        padding: 12px 8px;
    }
}
